# Extending OLPS Standard Dataset
To avoid dataset selection and/or data-snooping biases, we created four new historical datasets from the four
different markets (i.e., NYSE, DJIA, SP500, and TSX). The stock selection is made based on 2 important criteria:

1) The selected stock must be listed in the index from the beginning of 2000 (since this is our starting point of test runs)

2) Each selected stock must belong to one of the largest companies by market capitalization with high liquidity.

In [1]:
# CREATES THE STOCK DATA CSV

import yfinance as yf
from pandas_datareader import data as pdr
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from data import read_stock_history, normalize, write_to_h5py
import h5py

print("Imports Complete!")

Imports Complete!

In [2]:
# Dates
date_start = "1995-01-01"
date_end = "2020-10-01"

Dataset inspired by https://www.slickcharts.com/sp500

In [3]:
# Apple : AAPL
# Microsoft symbol: MSFT
# Johnson & Johnson: JNJ
# JPMorgan: JPM
# Procter & Gamble: PG
# UnitedHealth Group: UNH
# Home Depot: HD
# Walt Disney: DIS
# Verizon Communications: VZ
# Comcast: CMCSA
# Adobe: ADBE
# Pfizer: PFE
# Bank of America: BAC
# Intel: INTC
# AT&T: T
# Walmart: WMT
# Merck & Co: MRK
# Coca-Cola: KO
# Pepsi: PEP
# Abbot Labs: ABT
# Thermo: TMO
# CISCO: CSCO
# Chevron: CVX
# NIKE: NKE
# Exxon: XOM

#Dataset_Name = 'SP500'

#Assets = ['AAPL', 'MSFT', 'JNJ', 'JPM', 'PG', 'UNH', 'HD', 'DIS', 'VZ', 'CMCSA', 'ADBE', 'PFE',
#         'BAC', 'INTC', 'T', 'WMT', 'MRK', 'KO', 'PEP', 'ABT', 'TMO', 'CSCO', 'CVX', 'NKE', 'XOM']

In [4]:
#Dataset_Name = 'DJIA'

# https://www.cnbc.com/dow-30/

# GS, CRM, V, DOW
#Assets = ['UNH', 'HD', 'BA', 'AMGN', 'MSFT', 'MCD', 'HON', 'CAT', 'MMM', 'DIS', 'WMT',
#         'JNJ', 'PG', 'NKE', 'TRV', 'IBM', 'AXP', 'AAPL', 'JPM', 'CVX', 'MRK', 'VZ', 
#          'KO', 'INTC', 'CSCO', 'WBA']

In [5]:
#Dataset_Name = 'NYSE'

#Assets = ['JPM', 'JNJ', 'WMT', 'BAC', 'PG', 'XOM', 'T', 'UNH', 'DIS',
#         'VZ', 'HD', 'RDS-B', 'KO', 'MRK', 'CVX', 'WFC', 'PFE', 'TM', 'BA',
#         'ORCL', 'NKE', 'MCD', 'MDT', 'ABT', 'BMY', 'UL', 'TOT', 'BHP', 'NVO',
#         'AZN', 'TMO', 'RTX', 'BP', 'HON', 'LLY', 'UNP']

In [6]:
Dataset_Name = 'Hegde'

# https://www.semanticscholar.org/paper/Risk-aware-portfolio-construction-using-deep-policy-Hegde-Kumar/73b89a16f572d9c7d7bc1d04f8a4bb8d46125885

Assets = ['CSX', 'DISH', 'EA', 'EBAY', 'HAS', 'ILMN', 'MAR', 'REGN', 'SBUX', 'FOX', 'FISV', 
          'ESRX', 'DLTR', 'CTSH', 'CSCO', 'PCLN', 'AMGN', 'WDC', 'NVDA', 'MSFT']

# Dates
date_start = "2001-12-31"
date_end = "2016-12-31"

In [7]:
# Declare dictionary
d = {}

yf.pdr_override()

for a in Assets:
    d[a] = pdr.get_data_yahoo(a, start=date_start, end=date_end)

print("Number of Assets: {}".format(len(d)))
print("Number of Steps: {}".format(len(d[Assets[0]])))

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- FOX: Data doesn't exist for startDate = 1009753200, endDate = 1483138800
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- PCLN: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
Number of Assets: 20
Number of Steps: 3778

In [11]:
d['DISH']

                 Open       High        Low      Close  Adj Close   Volume
Date
2001-12-31  27.370001  27.709999  27.049999  27.469999  19.573988  2587900
2002-01-02  27.450001  28.799999  27.389999  28.750000  20.486061  4265400
2002-01-03  28.770000  29.200001  28.290001  28.490000  20.300798  3960700
2002-01-04  28.660000  29.049999  28.330000  28.590000  20.372053  2082400
2002-01-07  28.690001  29.350000  28.480000  28.920000  20.607197  3146300
...               ...        ...        ...        ...        ...      ...
2016-12-23  58.950001  59.529999  58.770000  58.889999  58.889999   528200
2016-12-27  59.049999  59.790001  58.919998  59.549999  59.549999   708200
2016-12-28  59.509998  59.680000  58.709999  58.950001  58.950001   874800
2016-12-29  58.860001  59.090000  58.119999  58.400002  58.400002  1375900
2016-12-30  58.410000  58.750000  57.689999  57.930000  57.930000  1277200

[3778 rows x 6 columns]

In [8]:
# Check if all start at desired date
for a in Assets:
    print("{}: {}".format(a,d[a].index[0]))

CSX: 2001-12-31 00:00:00
DISH: 2001-12-31 00:00:00
EA: 2001-12-31 00:00:00
EBAY: 2001-12-31 00:00:00
HAS: 2001-12-31 00:00:00
ILMN: 2001-12-31 00:00:00
MAR: 2001-12-31 00:00:00
REGN: 2001-12-31 00:00:00
SBUX: 2001-12-31 00:00:00

IndexError: index 0 is out of bounds for axis 0 with size 0

In [ ]:
for a in Assets:
    # Interpolate
    d[a] = d[a].interpolate(method='polynomial', order=2)
    # Daily Returns 
    d[a]['Daily Return'] = d[a]["Adj Close"].pct_change(1) # 1 for ONE DAY lookback
    # Log Return
    d[a]['Log Return'] = np.log(d[a]["Adj Close"]/d[a]["Adj Close"].shift(1))
    # Add Code
    d[a]['Code'] = a
    
d[Assets[0]].head()

In [ ]:
# Check if all start correctly
for a in Assets:
    print(a, ": ", d[a].index[0], ", ", d[a]['Close'].iloc[0])

In [ ]:
# Lets put all of this into one Dataframe
frames = []
for a in Assets:
    frames.append(d[a])

result_df = pd.concat(frames)

result_df.head()

In [ ]:
# Save as CSV
#pd.DataFrame(result).to_csv(
#            'datasets/stock_data.csv', index=True)

In [ ]:
# PLOT ADJ CLOSE
plt.figure(figsize=(8, 6), dpi=100)
for a in Assets:
    plt.plot(d[a]['Adj Close'],label=a)

plt.legend()
plt.show()

In [ ]:
# PLOT CLOSE
plt.figure(figsize=(8, 6), dpi=100)
for a in Assets:
    plt.plot(d[a]['Close'],label=a)

plt.legend()
plt.show()

## Save H5 with Open, Low, High, Close
Result is to be (assets, dates, features)

In [ ]:
data = []

for a in Assets:
    data.append(d[a].values.tolist())
    
dates = d[Assets[0]].index.tolist()
dates = [date_obj.strftime('%d/%m/%Y') for date_obj in d[Assets[0]].index.tolist()]

In [ ]:
data[0][0]

In [ ]:
_result = []
for i in range(len(data)): # ASSET
    _asset = []
    for j in range(len(data[0])): # DATES
        _asset.append(data[i][j][:4])
    _result.append(_asset)

In [ ]:
result = np.array(_result)

In [ ]:
result

In [ ]:
result.shape

In [ ]:
abb = [abbr.encode() for abbr in Assets]
write_to_h5py(result, abb, dates, "datasets/{}.h5".format(Dataset_Name))

In [ ]:
Dataset_Name = 'DJIA'

In [ ]:
with h5py.File("datasets/{}.h5".format(Dataset_Name), 'r') as f:
    history = f['history'][:]
    abbreviation = f['abbreviation'][:].tolist()
    dates = f['dates'][:].tolist()

In [ ]:
import datetime
dates = [datetime.datetime.strptime(date_str, '%d/%m/%Y') for date_str in dates]

In [ ]:
dates

In [ ]:
history

In [ ]:
abbreviation

In [ ]:
len(abbreviation)

In [ ]:
history[10]